body {
    background-image: url(../Images/BackgroundImages/Galaxy4.jpg) ;
    background-color: #cccccc;
    background-size: 200vmin;
    align-items: center;
}

div {
    text-align: center;
    padding: 0px;
}
#orphic {
    height: 350px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-left: 30px;
}

h2 {
    color: white;
    text-align: center;
    padding-top: none;
    margin: 7px;
    font-size: 20px;
}

input {
    width: 300px;
    height: 30px;
    font-size: 25px;
    font-family: fantasy;
    text-align: center;
}

#name {
    padding: 0px;
}

#month {
    height: 30px;
    text-align: center;
    align-items: center;
    padding-top: 10px;
    margin-top: 10px;
    width: 200px;
    height: 30px;
    font-size: 15px;
    /* background-color: black;
    color: white; */
}

#day {
    height: 30px;
    padding-top: 10px;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    /* background-color: black;
    color: white; */
}

#submit {
    height: 30px;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    width: 100px;
    /* background-color: black;
    color: white; */
} 

#card {
    height: 400px;
    text-align: center;
    align-items: center;
    margin-top: 15%;
    margin-left: 0px;
    left: 15%;
    position: absolute;
}

#cards {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: row;

}
#inputName {
    color: white;
    font-size: 30px;
}

p {
    color: white;
    font-size: 30px;
    padding: 0px;
    padding-left: 90px;
    padding-right: 90px;
    margin: auto;
}

#meaning {
    margin: 60px;
    margin-left: 35%;
    margin-top: 3%;
    padding-top: 9%;
    margin-right: 8%;


}
#divinitory {
    text-align: center;
    font-size: 30px;
    padding: 0;
    margin-left: 3%;
    margin-right: 3%;
}

#cardName {
    color: white;
    padding-top: 0px;
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
}

#orphicSmall{
    text-align: center;
    align-items: center;
    height: 125px;
    padding-top: 10px;
    margin-right: 0px;
}
#page2Head {
    align-items: center;

}
#continue {
    align-items: center;
    text-align: center;
    width: 100px;
    height: 30px;
    font-size: 15px;
    background-color: black;
    color: white;
    bottom: 7px;
    position: absolute;
    margin-top: 170px;
}
/* #userName {
    background-color: black;
    color: white;
} */
#CardsBack {
display: inline-grid;
grid-template-columns: 175px 175px 175px 175px 175px 175px 175px 175px 175px;
grid-template-rows: 300px 300px;
gap: 12px;
}

.backs {
height: 250px;
}

#page3Head {
    color: white;
}

#p3construct {
    padding: none;
    margin: none;
}

#p3Head{
    margin: 0px;
    

}

.clickChoiceImage {
    height: 200px;
    padding: 3.5px;
}
.clickChoiceImage2 {
    height: 200px;
    padding: 3.5px;
}

#inputCard {
    height: 200px;
    padding: 30px;
    position: absolute;
    left: 200px;
    top: 392px;
}

#spinner{
    height: 400px;
    align-items: center;
    text-align: center;
    padding-top: 45px;
}

#Eye {
    height: 150px;
    align-items: center;
    text-align: center;
    margin-top: 90px;
    padding-top: 30px;
}
#spreadRight{
    display: inline-grid;
    grid-template-columns: 175px;
    grid-template-rows: 200px 200px 200px 200px;
    position: absolute;
    right: 200px;
    top: 68px;
    gap: 15px;
}
#cross{
    display: inline-grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 200px 200px 200px;
    align-items: center;
    gap: 45px;
    padding: 50px;
    margin-right: 20px;
}

#mid{
    position: absolute;
    transform: rotate(90deg);
    text-align: center;
    align-items: center;
    top: 44%;
    left: 46%;
}
h4 {
    color: white;
    font-size: 3vmin;
    margin: .5vmin;
    padding-right: 10px;
    margin-right: 26px;
}